@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

body {
	background-color:black;
	background-repeat: no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	color: #ffffff;
	text-shadow: 1px 1px 0px rgba(8,230,255,100), -1px -1px 0px rgba(255,0,0,100);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

pre {
	text-align: center;
	font-family: monospace;
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

#center {			   
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #000;
}

#marquee {
	width: 400px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: -3px;
}

@-webkit-keyframes marqueeAnimation-62889320 {
	100% {
		margin-left:-320px
	}
}

.js-marquee-wrapper {
	width: 400px;
	margin-left: 400px;
	animation: marqueeAnimation-62889320 15.5s linear 0s infinite;
}

.js-marquee {
	margin-right: 400px;
	float: left;
}

#ascii-div {
	display: block;
	position: relative;
	height: 150px;
}

#ascii {
	text-align: left;
}
 video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;